.Header {
  position: relative;
  text-align: center;
  left: 30%;
  top: 122px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  /* line-height: 1px; */
  color: #007aff;
}

.formD {
  position: relative;
    width: 250px;
  height: 50px; 
  left: 30%;
  top: 324px;
  display: block;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  border-color: #e8e8e8;
  direction: rtl;
}

.formD {
    margin: 10px;
}

.login {
  position: absolute;
  /* width: 328px; */
  /* height: 20%; */
  left: 42%;
  top: 520px;
  /* display: block; */
}
