
.patientCurr {
  background-color: #fff;
  /* width: 350px; */
  /* height: 150px; */
  width: 400px;
  /* height: fit-content; */
  border-radius: 20px;
  padding: 15px 0px 0px 15px;
  margin: 0px 0px 15px 4px;
  word-wrap: break-word;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  display: grid;
  grid-template-columns: 50fr 80fr 50fr;
  grid-template-rows: 1fr 0fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". .";
}

.patients {
  text-align: right;
}

.headerP {
  direction: rtl;
  font-size: 30px;
  font-family: "Assistant", sans-serif;
  opacity: 80%;
  font-weight: 800;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  align-items: center;
  padding: 5px 8px 5px 5px;
}

.contactBtnDisplay {
  overflow: hidden;
}

.smallBtnFirst {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  padding: 15px;
  margin: 4px 4px 15px 4px;
  white-space: pre-line;
  font-size: 8px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  float: left;
  font-size: 7px;
  text-align: center;
}

.smallBtnSecond {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  padding: 15px;
  margin: 4px 4px 15px 4px;
  white-space: pre-line;
  font-size: 8px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  box-shadow: 0px 0px 5px 1px rgba(191, 191, 191, 1);
  float: left;
  font-size: 7px;
}

.trianArrow {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #9b9b9b transparent;
}

.rotateArrow {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #757575 transparent transparent transparent;
}

.iconImageDetail {
  width: 25px;
  height: 25px;
}

.AvatarImageDetail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #e8e8e8;
  margin: 0px 10px 1px 10px;
}

/* ************************************** */

.toProfile {
  /* text-align: center; */
  color: #007aff;
  cursor: pointer;
}

.avatarAndPr {
  text-align: center;
}

.cssCircle {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url();
  width: 30px;
  height: 30px;
  padding: 0px;
  background: #007aff;
  border: 1px solid #007aff;
  color: #ffffff;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  align-items: center;
  display: flex;
  justify-content: center;
  font: 30px "Arial", sans-serif;
  margin: 0px;
}

.cssCircle:hover {
  background: #ffffff;
  color: #007aff !important;
  cursor: pointer;
}

.plusSign {
  line-height: 1.1em;
  margin: 0px;
}

.plusSign:hover {
  color: white;
}

.searchBar {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  grid-template-areas: ". . .";
  padding: 20px 20px 20px 20px;
  
}

input {
  position: relative;
  width: 250px;
  height: 50px;
  /* left: 30%; */
  top: 0px;
  border-radius: 15px 15px 15px 15px;
  padding: 0px;
  direction: rtl;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-color:transparent;

}

.fa.fa-filter {
  font-size: 36px;
  color: grey;
  background-color: #f5f5f5;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa.fa-exchange {
  font-size: 36px;
  color: grey;
  background-color: #f5f5f5;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
