open {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 33px;
    -webkit-column-gap: 33px;
    -moz-column-gap: 33px;
    column-rule: 1px hidden #000000;
    -webkit-column-rule: 1px hidden #000000;
    -moz-column-rule: 1px hidden #000000;
    display:inline-block !important;
}

body {
    background-color: white !important;
    font-family: 'Assistant', sans-serif;
    display:inline-table !important;
}

#back {
    text-align: right !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 1.5em !important;
    font-weight: bold;}

#PerInfo {
    font-weight: bold;
}

#PerDet {
  font-weight: normal;
}

button {
    -webkit-border-radius: 30px 30px 30px 30px !important;
    border-radius: 20px 20px 20px 20px !important;
    background-color: #e8e8e8 !important;
   color: #007aff !important;
   border-color: #e8e8e8 !important;
   text-align: center !important;
   border: 0px solid transparent !important;
   font-size: 10px !important;
   margin: 1px 1px 1px 1px !important;
   display: initial !important;
   word-wrap: normal !important;
}

.meetingBtn {
  -webkit-border-radius: 30px 30px 30px 30px !important;
  border-radius: 20px 20px 20px 20px !important;
  max-width: 10px !important;
  background-color: #e8e8e8 !important;
 color: #007aff !important;
 border-color: #e8e8e8 !important;
 text-align: center !important;
 border: 0px solid transparent !important;
 font-size: 10px !important;
 margin: 1px 1px 1px 1px !important;
 display: initial !important;
 word-wrap: normal !important;
 overflow-y: scroll !important;
}

#current {
    background-color: #007aff !important;
    color: white !important;
    font-weight: bold !important;
}


#plusS {
    padding: 0px 0px 0px 0px !important;
}


p2 {
    color: #848484 !important;
}

button #v {
    -webkit-border-radius: 30px 30px 30px 30px !important;
    border-radius: 50% !important;
   background-color: #007aff !important;
   color: #e8e8e8 !important;
   
}



TextTitle {
    color: #565656 !important;
    text-align: right !important;
    
}

TextBody {
    text-align: right !important;
    font-weight: normal !important;
    display: block !important;
    
}

.AllMeet {
  padding: 30px 15px 40px 8px;
}

.descriptionMeet {
  padding: 5px 0px 0px 0px !important; 
}

.descMeetHead {
  font-family: 'Assistant';
  font-weight: 700;
  color: grey;
  text-align: right !important;
}

.descMeet {
  font-family: 'Assistant';
  font-weight: 400;
  color: grey;
  text-align: right !important;
  direction: rtl;
}

#iconStyle {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
  border: 3px solid #e8e8e8 !important;
  padding: 0px;
}

.media {
    text-align: right !important;
    float: right !important;  
    padding: 0px 10px 0px 10px;
    
}

div.pd {
    text-align: right !important;
    display: inline !important;
    
    
}

.meetings_container{
  width: 100vw !important;
  overflow-x: scroll !important;
}

.meetings{
    display: inline-block !important;
    /* white-space: nowrap; */
    display: flex !important;
    flex-direction: row !important;
    
    
}

.text-center {
    text-align: center !important;
    font-weight: bold;
}

.Progress {
  width: 300px;
  padding: 0px 0px 30px 20px;
  
}

#contact {
  background-color: #007aff !important;
  color: white !important;
  border-radius: 15px;
  width: 60px;
  height: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: right;
  margin: 10px 0px 20px 200px;
  font-size: 15px !important;
  font-family: 'Assistant';
}
/********************************************************************TIMELINE CSS*************************************************************************************/

* {
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #b8b8b8 ;
    top: 0;
    bottom: 0;
    margin-left: -9px;
  }

  
  
  /* Container around content */
  .container {
    padding: 0px 10px;
    position: relative;
    background-color: white;
    /* width: 50%; */
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #b8b8b8;
    border: 1px solid #b8b8b8;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
  }

  
  /* The actual content */
  .content {
    background-color: #b8b8b8;
    position: relative;
    border-radius: 6px;
    display: inline-block;
    
  }

  .contentTitle {
    background-color: white;
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    border-bottom: 1px solid #b8b8b8;
    font-weight: bold;
  }


  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-self: center;
    
  }

  intoBlock {
    display: inline-flex;
  }

  .container.right {
    padding: 0px 10px 0px 70px;

  }
 
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

  /*----------------------------------*/

  #back { 
    cursor: pointer;
  }
  