
.timelineCurr{
    background-color: #e8e8e8;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 15px;
    margin: 0 4px;
    word-wrap: break-word;
    font-size: 12px;
    
}

.VBtn {
    align-items: center;
  display: flex;
  justify-content: center;
}

.whiteCircle{
    background-color: #007aff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: left;
    color: #fff; 
    align-items: center;
    display: flex;
    justify-content: center;
}

.whiteCircleChange{
    background-color: #007aff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: left;
    color: #007aff; 
    align-items: center;
    display: flex;
    justify-content: center;
}


